@model BasketBallMVC.ViewModel.BattleViewModel
@{
    ViewBag.Title = "Battle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" id="contentMain">
    <div class="col-md-12" id="textWitaj">Walka!</div>
    <img src="../Content/Images/player-11.png" class="col-md-3 imgs" />
    <div class="col-md-6" id="inContentMain">
        @if (Model.isAttacksChosen && Model.isEnoughEnergy && Model.isEnoughLife)
        {
            <div class="col-md-12 col-xs-12 fonts_size_top">@Model.PlayerNick vs @Model.OponentNick</div>
            <div class="font20Center">


                @foreach (var item in Model.battleLog)
                {
                    <div class="col-md-12 col-xs-12 marginBot15">
                        <div class="col-md-1 col-xs-1">
                            @item.leftSum
                        </div>
                        <div class="col-md-10 col-xs-10 battleDescription">@item.text</div>
                        <div class="col-md-1 col-xs-1 rightSum">
                            @item.rightSum
                        </div>
                    </div>
                }

            </div>
            <div id="battleResult" class="col-md-12 col-xs-12">
                <div>
                    Końcowy wynik:
                </div>
                <div>
                    @Model.PlayerResult:@Model.OponentResult
                </div>
                <div>
                    @if (Model.PlayerResult > Model.OponentResult)
                    {
                        @:Wygrywa @Model.PlayerNick
                    }
                    else if (Model.PlayerResult < Model.OponentResult)
                    {
                        @:Wygrywa @Model.OponentNick
                    }
                    else
                    {
                        @:Remis!
                    }
                </div>
            </div>
        }
        else
        {
            if (!Model.isAttacksChosen)
            {
                <span class="col-xs-10 col-xs-offset-1 text-center errorsBattle">Musisz wybrać rodzaje ataków aby przejść do walki.</span>
            }
            else if (!Model.isEnoughEnergy)
            {
                <span class="col-xs-10 col-xs-offset-1 text-center errorsBattle">Masz za mało energii!</span>
            }
            else if (!Model.isEnoughLife)
            {
                <span class="col-xs-10 col-xs-offset-1 text-center errorsBattle">Masz za mało życia!</span>
            }

        }

    </div>
    <img src="../Content/Images/player-22.png" class="col-md-3 imgs" />

</div>

@section Styles {
    @Styles.Render("~/bundles/battle")
}