@using PagedList;
@using PagedList.Mvc;
@model BasketBallMVC.ViewModel.NotificationListViewModel
@{
    ViewBag.Title = "NotificationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" id="contentMain">
    <div class="col-md-12" id="textWitaj">Powiadomienia!</div>
    <img src="../Content/Images/player-11.png" class="col-md-3 imgs" />
    <div class="col-md-6 notificationsMainContainer" id="inContentMainFriends">
        @if (Model.NotificationListPaged != null && Model.NotificationListPaged.Count != 0)
        {
            <div>
                @foreach (var item in Model.NotificationListPaged)
                {
                    <div id="friendsCont">
                        <div class="col-md-2 col-xs-2 notificationType">
                            @item.notificationType
                        </div>
                        <div class="col-md-8 col-xs-8 notificationDetails">
                            @item.notificationDetails
                        </div>
                        @if (item.notificationType == BasketBallMVC.Infrastructure.NotificationType.Zaproszenie)
                        {
                            <div class="col-md-1 col-xs-1">
                                <button id="AcceptInvitation_@item.NotificationId" name="Invitation" class="btn btn-success notificationBtn"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <button id="RejectInvitation_@item.NotificationId" name="Invitation" class="btn btn-danger notificationBtn"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 col-xs-1">
                                <button id="DeleteNotification_@item.NotificationId" name="Battle" class="btn btn-danger notificationBtn"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        }

                    </div>
                }
            </div>

            <div class="notificationPagination">
                @Html.PagedListPager(Model.NotificationListPaged, page => Url.Action("NotificationList", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>
        }
        else
        {
            <div class="errorMessage">
                <text>Aktualnie nie masz żadnych powiadomień</text>
            </div>
        }
    </div>
    <img src="../Content/Images/player-22.png" class="col-md-3 imgs" />
</div>


@section Styles {
    @Styles.Render("~/bundles/notification")
}

@section ScriptBottom {
    @Scripts.Render("~/bundles/notificationScripts")
}
